<div class="container">
<div class="cards">
<div class="card" style="background-color:#FF5733">
    <div class="card-body">
        <h5 class="card-title">Books</h5>
        <p class="card-text">100</p>
    </div>

</div>
<div class="card next-cards" style="background-color:#FF5733">
    <div class="card-body" >
        <h5 class="card-title">Categories</h5>
        <p class="card-text">5</p>
    </div>

</div>
<div class="card next-cards" style="background-color:#FF5733">
    <div class="card-body" >
        <h5 class="card-title">Users</h5>
        <p class="card-text">50</p>
    </div>

</div>
<div class="card next-cards" style="background-color:#FF5733">
    <div class="card-body" >
        <h5 class="card-title">Issued Books</h5>
        <p class="card-text">20</p>
    </div>
</div>
</div>
<div>
<canvas id="pieChart"  width="300" height="300"></canvas>
</div>
</div>