.bgimg {

  width: 60vw;

  display: flex;

  justify-content: center;

  align-items: center;




}

.bgimg img {

  width: 920px;

  height: 570px;
}


#left-side {

  text-align: center;
  float: right;
  vertical-align: top;
}

.wholebg {
  display: flex;
  flex-direction: row;

}